<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie um novo plano</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/Escudo9.png">
</head>

<body>
    <header class="faixa">
        <img src="/img/Escudo9.png" alt="Imagem do escudo do Cruzeiro" width="80px">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/criar">Cadastro</a></li>
        </ul>
    </header>
    <main>
        <section id="cadastro">
            <div>
                <h2>Crie um novo Plano!</h2>
                <form action="/criacao" method="post">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" required>
                    <label for="preco">Preço:</label>
                    <input type="text" id="preco" name="preco" required>
                    <button id="btnCadastrar"
                        onclick="alert ('Obrigado! Você é fundamental para construção de um novo Cruzeiro!')"
                        type="submit">Cadastrar</button>
                </form>
            </div>
    </main>
    </section>
    <footer class="faixa">
        <p>Desenvolvido por @eucaiosilvawebs</p>
    </footer>
</body>

</html>