<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/Escudo9.png">
</head>

<body>

    <body id="sobe">
        <header class="faixa">
            <img src="/img/Escudo9.png" alt="Imagem do escudo do Cruzeiro" width="80px">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#cadastro">Cadastro</a></li>
            </ul>
        </header>
        <main>
            <section id='cards'>

                <h2>Planos</h2>
                
                    <div class="card">
                        <h1>
                            <%= planos[id].nome %>
                        </h1>
                        <p class="descricao">Descrição:<br>
                            <%= planos[id].descricao %>
                        </p>
                        <p class="preco">Preço: <%= planos[id].preco %>
                        </p>
                    </div>

            </section>
        </main>
        <footer class="faixa">
            <p>Desenvolvido por @eucaiosilvawebs</p>
        </footer>

    </body>

</html>